<div class="content">
  <h5>Listas de asignación de electivas</h5>
  <table class="table table-sm">
    
    <thead>
      <tr style="text-align:center">
        <th scope="col"></th>
        <th scope="col" class="ancho">Nombre electiva</th>
        <th scope="col">Cupos asignados</th>
        <th scope="col">Ver más</th>
        <th scope="col">Descargar excel</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ece of electivas; let id = index">
        <th scope="row">{{id+1}}</th>
        <td>{{ece.nombreElectiva}}</td>
        <td style="text-align:center">{{ece.cupos}}</td>
        <td style="text-align:center">
          <a (click)="cambioVistaElectiva('AsignacionElectiva' + id)"><i class="fas fa-search-plus" style="color:#082a52; cursor: pointer"></i></a>
          <!-- routerLink="/AsignacionElectiva/{{id}}" -->
        </td>
        <td style="text-align:center">
          <a (click)="DescargarE(id,ece.nombreElectiva)" routerLink="/listasAsignadas" title="Descargar Excel"> <i class="fas fa-file-excel" style="color:green"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
