<div class="wrapper">
  <table class="table table-sm">
    <thead>
      <tr style="text-align:center">
        <th scope="col"></th>
        <th scope="col" class="ancho">Nombre electiva</th>
        <th scope="col">Cupos asignados</th>
        <th scope="col">Ver más</th>
        <th scope="col">Descargar excel</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ece of electivas; let in = index">
        <th scope="row">{{in+1}}</th>
        <td>{{ece.nombreElectiva}}</td>
        <td style="text-align:center">{{ece.cupos}}</td>
        <td style="text-align:center">
          <a routerLink="/AsignacionElectiva/{{in}}"><i class="fas fa-search-plus" style="color:#082a52"></i></a>
        </td>
        <td style="text-align:center">
          <a (click)="DescargarE(in,ece.nombreElectiva)" routerLink="/listasAsignadas" title="Descargar Excel"> <i class="fas fa-file-excel" style="color:green"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>