<app-encabezado></app-encabezado>
<div class="wrapper">
  <app-opciones-admin></app-opciones-admin>
  <table class="table table-sm table-borderless">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Nombre Electiva</th>
        <th scope="col">Cupos Asignados</th>
        <th scope="col" class="text-center">Opciones</th>
      </tr>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">Ver más</th>
        <th class="text-left">Descargar Excel</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ece of electivas; let in = index">
        <th scope="row">{{in+1}}</th>
        <td>{{ece.nombreElectiva}}</td>
        <td>{{ece.cupos}}</td>
        <td>
          <!-- <button type="button" class="btn btn-warning">Ver más</button> -->
          <a routerLink="/AsignacionElectiva/{{in}}"><i class="fas fa-search-plus"></i></a>
        </td>
        <td>
          <!-- <button type="button" class="btn btn-info">Descargar Excel</button> -->
          <a (click)="DescargarE(in,ece.nombreElectiva)"><i class="fas fa-file-excel"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>