<button type="button" id="sidebarCollapse" class="navbar-btn">
  <span></span>
  <span></span>
  <span></span>
</button>

<nav id="sidebar">
  <div class="sidebar-header">
    <h5 class="text-center">OPCIONES ADMINISTRATIVAS</h5>
  </div>
  
  <ul class="list-unstyled components">
    <li>
      <a class="text-center" routerLink="/GestionElectivas">Gestión de electivas</a>
    </li>
    <li>
      <a class="text-center" routerLink="/OfertaAcademica">Oferta académica</a>
    </li>
    <li>
      <a class="text-center" routerLink="/InformacionEstudiantes">Registrar información</a>
    </li>
    <li>
      <a class="text-center" routerLink="/ListasAsignadas">Asignar cupos a electivas</a>
    </li>
    <li>
      <a class="text-center" routerLink="/">Reportes</a>
    </li>
  </ul>
</nav>