<button type="button" id="sidebarCollapse" class="navbar-btn">
  <span></span>
  <span></span>
  <span></span>
</button>

<nav id="sidebar">
  <div class="sidebar-header">
    <p class="text-center opcionesAdmin">Opciones administrativas</p>
  </div>
  
  <ul class="list-unstyled components">
    <li class="text-center">
      <a class="text-center" routerLink="/GestionElectivas">Gestión de electivas</a>
      <!-- (click)="cambiovista = 'GestionElectivas'" -->
    </li>
    <li value="uno">
      <a class="text-center" routerLink="/OfertaAcademica">Oferta académica</a>
    </li>
    <li>
      <a class="text-center" routerLink="/InformacionEstudiantes">Registrar información</a>
    </li>
    <li>
      <a class="text-center" routerLink="/ListasAsignadas">Asignar cupos a electivas</a>
    </li>
    <li>
      <a class="text-center" routerLink="/Inscripcion">Reportes</a>
    </li>
  </ul>
</nav>