node_modules
AppProyectoElectivas/package-lock.json
ServerProyectoElectivas/procesoeectivas-firebase-adminsdk-zdn8g-9a9ff23d08.json
ServerProyectoElectivas/controllers/procesoeectivas-firebase-adminsdk-zdn8g-9a9ff23d08.json
frontend/node_modules
