<div>
<h2 mat-dialog-title>Agregar Oferta</h2>
<mat-dialog-content class="mat-typography">
  <form id="FormElectivas">
    <div class="row" >
   
       <div class="col-6">
        <mat-form-field>
          <mat-label for="dateInicio" *ngIf='inicioCampo' class=" errorFormato ">Fecha Inicio</mat-label>
          <mat-label for="dateInicio" *ngIf='!inicioCampo' >Fecha Inicio</mat-label>
          <input matInput [(ngModel)]="ofertas.dateInicio" [formControl]="inicioFormControl" [matDatepicker]="fechaInicio" name="dateInicio"  placeholder="Fecha Inicio">
          <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
          <mat-datepicker #fechaInicio touchUi="true"></mat-datepicker>
          <mat-error *ngIf="finFormControl.hasError('required')">
            Fecha inicio es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field>
          <mat-label for="dateFin" *ngIf='finCampo' class=" errorFormato ">Fecha fin</mat-label>
          <mat-label for="dateFin" *ngIf='!finCampo' >Fecha Fin</mat-label>
          <input matInput [(ngModel)]="ofertas.dateFin" [formControl]="finFormControl" [matDatepicker]="fechaFin" name="dateFin" placeholder="Fecha fin" style="z-index: 1200">
          <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
          <mat-datepicker #fechaFin touchUi="true"></mat-datepicker>
          <mat-error *ngIf="finFormControl.hasError('required')">
            Fecha de fin es  <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div> 
           
      <div class="col-6">
        <mat-form-field class="example-full-width">
          <mat-label for="anio" *ngIf='anioCampo' class=" errorFormato ">Año</mat-label>
          <mat-label for="anio" *ngIf='!anioCampo' >Año</mat-label>
          <input [(ngModel)]="ofertas.anio" [formControl]="anioFormControl" id="anio" name="anio"   matInput placeholder="Año Lectivo" >
          <mat-error *ngIf="anioFormControl.hasError('required')">
            Año de oferta es <strong>requerido</strong>
          </mat-error>
          <mat-error *ngIf="anioFormControl.hasError('pattern')">
            Ingresó un caracter invalido.
          </mat-error>
        </mat-form-field>
      </div>      
      <div class="col-6">
        <mat-form-field style="z-index: 2000 !important">
          <mat-label for="periodoAcademicoCampo" *ngIf='periodoAcademicoCampo' class="errorFormato">Período Académico</mat-label>
          <mat-label for="periodoAcademicoCampo" *ngIf='!periodoAcademicoCampo' >Período Académico</mat-label>
          <select matNativeControl [(ngModel)]="ofertas.periodo" [formControl]="periodoFormControl"  id="periodo" name="periodo" style="z-index: 2000 !important">
            <option *ngFor="let i of valores" [value]="i.value" style="z-index: 2000 !important">{{i.viewValue}}

            </option>
            
          </select>
          <mat-error *ngIf="periodoFormControl.hasError('required')">
            Periodo es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>  
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre Electiva</th>
            <th scope="col">Programa</th>
            <th scope="col">Tipo</th>
            <th scope="col">Ofertar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let electiva of electivas; let indice=index">
            <td>{{indice+1}}</td>
            <td>{{electiva.nombre}}</td>
            <td>
              <input type="checkbox" [(ngModel)]="ofertaAcademica[indice].pis" id="pis" name="pis">PIS 
              <input type="checkbox" [(ngModel)]="ofertaAcademica[indice].piai" id="piai" name="piai">PIAI 
              <input type="checkbox" [(ngModel)]="ofertaAcademica[indice].piet" id="piet" name="piet">PIET 
            </td>
            <td>{{electiva.tipo}}</td>
            <td>
              <input type="checkbox" [(ngModel)]="ofertaAcademica[indice].oferta" ng-model="checked" id="oferta" name="oferta">
            </td>
          </tr>
          
        </tbody>
      </table>
      
    </div>
    
  </form>

</mat-dialog-content>
<mat-dialog-actions align ="end">
  <button mat-dialog-close type="button" class="btn btn-secondary">Cerrar</button>
  <button type="button" class="btn btn-primary" (click)="registrarOferta()">Guardar Oferta </button>
</mat-dialog-actions>
</div>
