<div class="content">
  <h5>Listas de Rechazados</h5>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Periodo académico</th>
        <th scope="col">Descargar excel</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of periodos">
        <th></th>
        <td>Periodo {{x}}</td>
        <td>
          <a (click)="DescargarExcelRechazados(x)" title="Descargar excel"> <i class="fas fa-file-excel" style="color:green; cursor: pointer"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
