<app-alerts></app-alerts>
<div class="content">
  <h5>Oferta académica</h5>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-info" (click)="openDialog()">
    Agregar nueva oferta
  </button>
  <!-- Table -->
  
  <table class="table table-striped table-sm">
    <thead>
      <tr >  
           
        <th scope="col" colspan="2">Período Académico</th>
        <th scope="col">Total Electivas</th>
        <th scope="col">Estado</th>
        <th colspan="2" class="text-center">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ofertaA of obtenerOfertas; let indice=index">
        <td>{{ofertaA.anio}}</td>
        <td>{{ofertaA.periodo}}</td>
        <td>{{cantidades[indice]}}</td>
        <td>{{estados[indice]}}</td>
        <td>
          <button type="button" (click)="detalleOferta(indice)" (click)="openDialogVer(indice)" class="btn btn-info" >
            Ver
          </button>
        </td>
      </tr>
      
    </tbody>
  </table>
</div>
