<div class="cabecera">
    <div id= logoU></div>
    <div class="separador"></div>
    <p id="descripcion">Sistema de pre-inscripción de electivas</p>
    <div id="banderaHeader"></div>
  </div>
  <div id="infoGeneral">
    <img src="{{imagenPerfil}}" alt="userImage" class="imagenUsuario img-thumbnail">
    <ul class="listaInfoUsuario"><span id="">
      <li>Usuario: anyiramirez</li></span>
    </ul>
    <button type="button" class="btn btn-danger positionbtn" routerLink="">Cerrar sesión</button>
  </div>
