<app-encabezado></app-encabezado>
<div class="wrapper">
  <app-opciones-admin></app-opciones-admin>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Usuario</th>
      </tr>
    </thead>
    <tbody>
      
<tr *ngFor="let est of lista1; let in = index">
        <th scope="row">{{in+1}}</th>
        <td>{{est.NombreCompleto}}</td>
        <td>{{est.Usuario}}</td>
</tr>
      
      
    </tbody>
  </table>
</div>
