<h2 mat-dialog-title>Edicion Electiva</h2>
<mat-dialog-content class="mat-typography">
    <div class="modal-body">
        <form id="FormElectivas">
            <div class="row">
              <div class="col-6">
                <mat-form-field class="example-full-width">
                  <mat-label for="nombre" *ngIf='nombreCampo' class=" errorFormato ">Nombre Electiva</mat-label>
                  <mat-label for="nombre" *ngIf='!nombreCampo' >Nombre Electiva</mat-label>
                  <input [(ngModel)]="data.electiva.NombreElectiva" id="nombre" name="nombre" [formControl]="nombreFormControl"  matInput >
                  <mat-error *ngIf="nombreFormControl.hasError('required')">
                    Nombre Electiva es <strong>requerido</strong>
                  </mat-error>
                  <mat-error *ngIf="nombreFormControl.hasError('pattern')">
                    Ingresó un caracter invalido.
                  </mat-error>
                </mat-form-field>
                
              </div>
              <div class="col-6">
                <mat-form-field class="example-full-width">
                  <mat-label for="contenido" *ngIf='contenidoCampo' class=" errorFormato ">Contenido Programatico</mat-label>
                  <mat-label for="contenido" *ngIf='!contenidoCampo' >Nombre Contenido Programatico</mat-label>
                  <input [(ngModel)]="data.electiva.Contenido" [formControl]="contenidoFormControl" id= "contenido"  name = "contenido"  matInput >
                  <mat-error *ngIf="contenidoFormControl.hasError('required')">
                    Contenido es <strong>requerido</strong>
                  </mat-error>
                  <mat-error *ngIf="contenidoFormControl.hasError('pattern')">
                    Ingresó un caracter invalido.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field>
                  <mat-label for="departamento" *ngIf='departamentoCampo' class=" errorFormato">Departamento</mat-label>
                  <mat-label for="departamento" *ngIf='!departamentoCampo' >Departamento</mat-label>
                  <select matNativeControl [(ngModel)]="data.electiva.Departamento" id="departamento" name="departamento" >
                    <option value="Electrónica instrumentación y control">Electrónica instrumentación y control</option>
                    <option value="Sistemas">Sistemas</option>
                    <option value="Telecomunicaciones">Telecomunicaciones</option>
                    <option value="Telemática">Telemática</option>
                  </select>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field>
                  <mat-label for="tipo" *ngIf='tipoCampo' class=" errorFormato">Tipo de electiva</mat-label>
                  <mat-label for="tipo" *ngIf='!tipoCampo' >Tipo de electiva</mat-label>
                  <select matNativeControl [(ngModel)]="data.electiva.TipoElectiva" id="tipo" name="tipo" >
                    <option value="Teórica">Teórica</option>
                    <option value="Práctica">Práctica</option>
                    <option value="Teórico Práctica">Teórico Práctica</option>
                  </select>
                  
                </mat-form-field>
              </div>
            </div>
            
          </form>  
</div>
</mat-dialog-content>
<mat-dialog-actions align ="end">
  <button mat-button mat-dialog-close>Cerrar</button>
  <button type="button" class="btn btn-primary" (click)="editarElectivas()" data-dismiss="modal">Guardar Electiva</button>
</mat-dialog-actions>