<app-encabezado-inscripcio></app-encabezado-inscripcio>

    <div class="example-container">
        <h5>Formulario de Inscripción:</h5>
       
        <mat-form-field>
          <input matInput placeholder="Nombres">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Apellidos">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Código">
        </mat-form-field>
        <mat-form-field>
        <mat-label>Programa</mat-label>
        <mat-select placeholder="Select">
            <mat-option value="option">Ingeniería de Sistemas</mat-option>
            <mat-option value="option">Ingeniería Automática Industrial</mat-option>
            <mat-option value="option">Ingeniería Electrónica y Telecomunicaciones</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Opción Uno</mat-label>
            <mat-select placeholder="Select">
                <mat-option value="option">Ingeniería de Sistemas</mat-option>
                <mat-option value="option">Ingeniería Automática Industrial</mat-option>
                <mat-option value="option">Ingeniería Electrónica y Telecomunicaciones</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Opción Dos</mat-label>
                <mat-select placeholder="Select">
                    <mat-option value="option">Ingeniería de Sistemas</mat-option>
                    <mat-option value="option">Ingeniería Automática Industrial</mat-option>
                    <mat-option value="option">Ingeniería Electrónica y Telecomunicaciones</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Opción tres</mat-label>
                    <mat-select placeholder="Select">
                        <mat-option value="option">Ingeniería de Sistemas</mat-option>
                        <mat-option value="option">Ingeniería Automática Industrial</mat-option>
                        <mat-option value="option">Ingeniería Electrónica y Telecomunicaciones</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Opción Cuatro</mat-label>
                        <mat-select placeholder="Select">
                            <mat-option value="option">Ingeniería de Sistemas</mat-option>
                            <mat-option value="option">Ingeniería Automática Industrial</mat-option>
                            <mat-option value="option">Ingeniería Electrónica y Telecomunicaciones</mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Opción Cinco</mat-label>
                            <mat-select placeholder="Select">
                                <mat-option value="option">Ingeniería de Sistemas</mat-option>
                                <mat-option value="option">Ingeniería Automática Industrial</mat-option>
                                <mat-option value="option">Ingeniería Electrónica y Telecomunicaciones</mat-option>
                              </mat-select>
                            </mat-form-field>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Inscribirse</button>
 
</div>