.example-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 15%;
  margin-left: 28%;
  width: 50%;
}

.errorFormato{
  color: red !important;
}

@media screen and (max-width:817px){
  .example-container{
    margin-left: 16%;
    width: 70%
  }
}


