.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
.contProgramas{
  border: 1px solid hsla(16, 96%, 3%, 0.56);
  border-radius: 9px;
  opacity: 0.9;
  margin-left: 20px;
}
.casilla{
  background: white;
  width: 78%;
  margin-top: -10px;
  margin-left: 27px;
  font-weight: 300;
  color: black;
}
