<div class="content">
  <h5>Gestión de electivas</h5>
  <button type="button" class="btn btn-info" (click)="openDialog()">Agregar Electiva</button>
 
  <!-- Table -->
  <table class="table table-striped table-sm">
    <thead>
      <tr >
        <th scope="col"> #</th>
        <th scope="col">Nombre Electiva</th>
        <th scope="col">Tipo</th>
        <th scope="col">Departamento</th>
        <th colspan="2" class="text-center">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let electiva of electivasRegistradas; let indice=index">
        <td>{{indice+1}}</td>
        <td>{{electiva.nombre}}</td>
        <td>{{electiva.tipo}}</td>
        <td>{{electiva.departamento}}</td>
        <td><button type="button" class="btn btn-outline-primary"   (click)="openDialogEditar(electiva.nombre)">Editar</button></td>
        <td>
          <div *ngIf = "electiva.estado == 'Habilitar'">
            <button type="button" class="btn btn-outline-success" (click)="ActualizarEstado(electiva.nombre)">Activar</button>
          </div>
          <div *ngIf = "electiva.estado == 'Deshabilitar'">
            <button type="button" class="btn btn-outline-danger" (click)="ActualizarEstado(electiva.nombre)">Inactivar</button>
          </div>
        </td>
      </tr>
      
    </tbody>
  </table>
  


</div>
