<app-encabezado></app-encabezado>
<div class="wrapper">
  <app-opciones-admin></app-opciones-admin>
  <div id="content">
    <img src="../../../assets/guardar.png" alt="saving" id="save" class="rounded float-right" style="display: none">
    <table class="table tableFixHead">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Código</th>
          <th scope="col">Usuario</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Programa</th>
          <th scope="col">Créditos aprobados</th>
          <th scope="col">Créditos pensum</th>
          <th scope="col">Porcentaje de avance</th>
          <th scope="col">Promedio carrera</th>
          <th scope="col">Electivas aprobadas</th>
          <th scope="col">Electivas cursando</th>
          <th scope="col">Debe ver</th>
          <th scope="col">Cantidad solicitada</th>
          <th scope="col">Opción 1</th>
          <th scope="col">Opción 2</th>
          <th scope="col">Opción 3</th>
          <th scope="col">Opción 4</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of preinscriptos| paginate:{itemsPerPage: pageSize,currentPage: pageActual} ; let in=index" >
          <td>{{usuario.row}}</td>
          <td>{{usuario.Codigo}}</td>
          <td>{{usuario.Usuario}}</td>
          <td>{{usuario.Nombres}}</td>
          <td>{{usuario.Apellidos}}</td>
          <td>{{usuario.Programa}}</td>

          <td><input [(ngModel)]="datosGuardar[in].CreditosAprobados" (keypress)="b($event)" (ngModelChange)="validarCampos()" (ngModelChange)="calcularPorcentaje()" min="0" max="{{usuario.creditosPensum}}" name="CreditosAprobados" type="number" class="barraTexto" id="CreditosAprobados" placeholder="creditos"></td>
          <td>{{usuario.creditosPensum}}</td>
          <td> <input [(ngModel)]="datosGuardar[in].PorcentajeCarrera" disabled="true" name="PorcentajeCarrera" class="barraTexto" id="PorcentajeCarrera" placeholder="creditos"></td>
          <td><input [(ngModel)]="datosGuardar[in].PromedioCarrera" (click)="registrarBD()" (ngModelChange)="validarCampos()" min="0" max="5" step="any" name="Promedio" type="number" class="barraTexto" id="Promedio" placeholder="Promedio"> </td>
          <td><input [(ngModel)]="datosGuardar[in].ElectivasAprobadas" (click)="registrarBD()" (ngModelChange)="validarCampos()" min="0" max="{{usuario.electivasPrograma}}" name="ElectivasAprobadas" type="number"  class="barraTexto" id="ElectivasAprobadas" placeholder="aprobadas">  </td>
          <td><input [(ngModel)]="datosGuardar[in].ElectivasCursadas" (click)="registrarBD()" (ngModelChange)="validarCampos()" min="0" max="{{usuario.electivasPrograma}}" name="ElectivasCursadas" type="number" class="barraTexto" id="ElectivasCursadas" placeholder="cursadas"> </td>

          <td>{{usuario.electivasPrograma}}</td>
          <td>{{usuario.cantidadSolicitada}}</td>
          <td nowrap>{{usuario.opcion1}}</td>
          <td nowrap>{{usuario.opcion2}}</td>
          <td nowrap>{{usuario.opcion3}}</td>
          <td nowrap>{{usuario.opcion4}}</td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary boton " data-toggle="button" aria-pressed="false" (click)="registrarBD()" autocomplete="off">
      Registrar Información
    </button>
    <pagination-controls (pageChange)="pageActual = $event" class="pagination"></pagination-controls>
    <select class="custom-select select" style="width: auto" [(ngModel)]="pageSize" >
      <option [ngValue]="5">5 items por página</option>
      <option [ngValue]="10">10 items por página</option>
      <option [ngValue]="15">15 items por página</option>
      <option [ngValue]="20">20 items por página</option>
      <option [ngValue]="25">20 items por página</option>
      <option [ngValue]="30">20 items por página</option>
      <option [ngValue]="40">20 items por página</option>
      <option [ngValue]="50">20 items por página</option>
    </select>
  </div>
</div>
