<h2 mat-dialog-title>Nueva Electiva</h2>
<mat-dialog-content class="mat-typography">
    <div class="modal-body">
       
   
  <form id="FormElectivas">
    <div class="row">
      <div class="col-6">
        <mat-form-field class="example-full-width">
          <mat-label for="nombre" *ngIf='nombreCampo' class="errorFormato ">Nombre Electiva</mat-label>
          <mat-label for="nombre" *ngIf='!nombreCampo' >Nombre Electiva</mat-label>
          <input [(ngModel)]="electivas.nombre" id="nombre" name="nombre" [formControl]="nombreFormControl"  matInput placeholder="Nombre Electiva"  required>
          <mat-error *ngIf="nombreFormControl.hasError('required')">
            Nombre Electiva es <strong>requerido</strong>
          </mat-error>
          <mat-error *ngIf="nombreFormControl.hasError('pattern')">
            Ingresó un caracter invalido.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="example-full-width">
          <mat-label for="contenido" *ngIf='contenidoCampo' class=" errorFormato ">Contenido Programatico</mat-label>
          <mat-label for="contenido" *ngIf='!contenidoCampo' >Contenido Programatico</mat-label>
          <input [(ngModel)]="electivas.contenido" [formControl]="contenidoFormControl" id= "contenido"  name = "contenido"  matInput placeholder="Contenido Prográmatico" required>
          <mat-error *ngIf="contenidoFormControl.hasError('required')">
            Contenido Programatico es <strong>requerido</strong>
          </mat-error>
          <mat-error *ngIf="contenidoFormControl.hasError('pattern')">
            Ingresó un caracter invalido.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-5 contProgramas">
        <p class="casilla text-center">
          <mat-label for="departamento" *ngIf='departamentoCampo' class=" errorFormato ">Departamento al que pertenece</mat-label>
          <mat-label for="departamento" *ngIf='!departamentoCampo' >Departamento al que pertenece</mat-label>
        </p>
        <mat-radio-group  class="example-radio-group"
        [(ngModel)]="electivas.departamento" name="departamento" [formControl]="departamentoFormControl" required>
        <mat-radio-button class="example-radio-button" value="Sistemas">Sistemas</mat-radio-button>
        <mat-radio-button class="example-radio-button" value="Telemática">Telemática</mat-radio-button>
        <mat-radio-button class="example-radio-button" value="Telecomunicaciones">Telecomunicaciones</mat-radio-button>
        <mat-radio-button class="example-radio-button" value="Electrónica instrumentación y control">Electrónica e Instrumetación</mat-radio-button>
        <mat-error *ngIf="departamentoFormControl.hasError('required')">
          Departamento es <strong>requerido</strong>
        </mat-error>
      </mat-radio-group>
    </div>
    <div class="col-6">
      <mat-form-field>
        <mat-label for="tipo" *ngIf='tipoCampo' class=" errorFormato">Tipo de electiva</mat-label>
        <mat-label for="tipo" *ngIf='!tipoCampo' >Tipo de electiva</mat-label>
        <mat-select matNativeControl [(ngModel)]="electivas.tipo" [formControl]="tipoFormControl" style="z-index: 1000" id="tipo" name="tipo" required>
          <mat-option value="Teórica">Teórica</mat-option>
          <mat-option value="Práctica">Práctica</mat-option>
          <mat-option value="Teórico Práctica">Teórico Práctica</mat-option>
        </mat-select>
        <mat-error *ngIf="tipoFormControl.hasError('required')">
          Tipo es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  
</form>
</div>
</mat-dialog-content>
<mat-dialog-actions align ="end">
  <button mat-button mat-dialog-close>Cerrar</button>
  <button type="button" class="btn btn-primary" (click)="registrarElectivas()">Guardar Electiva</button>
</mat-dialog-actions>