<h1>Programas Académicos de la FIET</h1>
<p>Selecciona un programa para ver sus litas de preinscripción: </p>
<hr>
<form action="/api/asigcupos/pis" method="get">
    <input type="submit" class="btn btn-primary btn-lg"  role="button" value="Ingeniería de Sistemas">
</form>
<hr>
<form action="/api/asigcupos/piai" method="get">
    <input type="submit" class="btn btn-primary btn-lg"  role="button" value="Ingeniería Automática Industrial">
</form>
<hr>
<form action="/api/asigcupos/piet" method="get">
    <input type="submit" class="btn btn-primary btn-lg"  role="button" value="Ingeniería Electrónica y Telecomunicaciones">
</form>
<hr>
