<div class="cabecera">
  <div id= logoU></div>
  <div class="separador"></div>
  <p id="descripcion">Sistema de pre-inscripción de electivas</p>
  <div id="banderaHeader"></div>
</div>
<div id="infoGeneral">
  <img src="../../../assets/user.jpg" alt="userImage" class="imagenUsuario img-thumbnail">
  <ul class="listaInfoUsuario"><span id="">
    <li class="firstItem">Nombre: José Fernando Robles</li>
    <li>Código: 106415015541, Usuario: jfrobles</li>
    <li>Cargo: Coordinador</li>
    <li class="lastItem">Rol: Administrador</li></span>
  </ul>
  <button type="button" class="btn btn-danger positionbtn">Cerrar Sesión</button>
</div>

