<div class="cabecera">
  <div id= logoU></div>
  <div class="separador"></div>
  <p id="descripcion">Sistema de preinscripción de electivas</p>
  <div id="banderaHeader"></div>
</div>
<div id="infoGeneral">
  <img src="{{imagenPerfil}}" alt="userImage" class="imagenUsuario img-thumbnail">
  <ul class="listaInfoUsuario"><span id="">
    <li class="firstItem">Nombre: {{nombreCompleto}}</li>
    <li>Usuario: {{usuario}}</li>
    <li>Cargo: {{cargo}}</li>
    <li class="lastItem">Rol: {{rol}}</li></span>
  </ul>
  <button type="button" class="btn btn-danger positionbtn">Cerrar sesión</button>
</div>

