<h2 mat-dialog-title>Oferta {{data.nombreOfertaACtual}}</h2>
<mat-dialog-content class="mat-typography">
      
           <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre Electiva</th>
                <th scope="col">Programas Asociados</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ElecOferAct of ElectivasOfertaActual; let indice=index">
                <td>{{indice+1}}</td>
                <td>{{ElecOferAct.NombreElectiva}}</td>
                <td>{{ElecOferAct.programa}}</td>
              </tr>       
            </tbody>
          </table>     
 
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-dialog-close type="button" class="btn btn-secondary">Cerrar</button>
</mat-dialog-actions>

